.center-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2{
        color: #333;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        
        span{
            color: #451;
            font-size: 22px;
        }
    }
}